@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    height: 100%;
}
body{
    height: 100%;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #14274E;
}
.navbar{
    background-color: #14274E;
}
.jumbotron{
    height: 400px;
    background: url(./images/voter.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.display-4{
    padding-top: 15%;
}
.news-img img{
    left: 0;
    margin: 0;
    height: 300px;
}
.news-info{
    color: white;
}
.news-info h5{
    font-size: 17px;
    font-weight: lighter;
}
.news-info p{
    width: 70%;
    margin: 0;
    text-align: justify;
    margin-bottom: 10px;
}
.btn{
    background-color: wheat;
    color: black;
    border: none;
    border-radius: none;
}
#news{
    margin-top: 20px;
}
section{
    margin-bottom: 10px;
}

#news-cards{
    background-color: white;
    padding-bottom: 10px;
    padding-left: 20px;
}
.news-img{
    padding: 10px;
}
.news-card h2{
    color: blue;
    font-size: 20px;
    font-weight: bolder;
}
.news-card h4{
    font-size: 24px;
    font-weight: bolder;
}
.news-card p{
    width: 80%;
    margin: 0;
    text-align: justify;
    margin-bottom: 10px;
}
.btn-secondary{
    background-color: #14274E;
    color: white;
}
#contact{
    margin-top: 0;
    margin-bottom: 20%;
    color: white;
}
.mb-3{
    width: 50%;
}
.btn-lg{
    margin-top: 10px;
    float: right;
}
label{
    float: left;
}